.container {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 28%;
  display: block;
  transform: translate(-50%, -50%);
}

#allmenu{
    width:0px;
    height:0px;
    position:sticky;
    cursor:pointer;
    line-height:52px;
}

#single {
    position:relative;
    width:200px;
    height:50px;
    bottom:220px;
    padding:50%;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    color:white;
}

/*#single:hover {*/
/*    background:#aad354;*/
/*    color:black;*/
/*    transform:scale(+1.5);*/
/*    transition:0.5s;*/
/*}*/

.buttonUnselected {
    background:#fe4101;
    transition:0.5s;
}
.buttonSelected {
    background:#aad354;
    color:black;
    transform:scale(+1.5);
    transition:0.5s;
}

#single:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(40px);
}

#multi {
  position:relative;
    width:210px;
    height:50px;
    bottom:230px;
    right:50%;
    /*background:#fe4101;*/
    border-radius:50px;
    text-align:center;
    font-size:30px;
    color:white;

}

/*#multi:hover {*/
/*    background:#aad354;*/
/*    color:black;*/
/*    transform:scale(+1.5);*/
/*    transition:0.5s;*/
/*}*/

#multi:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(40px);
}

#options:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(40px);
}

#audio {
  position:relative;
    width:230px;
    height:50px;
    bottom:240px;
    right:50%;
    /*background:#fe4101;*/
    border-radius:50px;
    text-align:center;
    font-size:30px;
    color:white;

}

/*#audio:hover {*/
/*    background:#aad354;*/
/*    color:black;*/
/*    transform:scale(+1.5);*/
/*    transition:0.5s;*/
/*}*/

#audio:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(40px);
}

#highscore {
  position:relative;
    width:245px;
    height:50px;
    bottom:250px;
    right:50%;
    /*background:#fe4101;*/
    text-align:center;
    font-size:23px;
    color:white;
    border-radius:50px;
    transition:0.5s;
}

/*#highscore:hover {*/
/*    background:#aad354;*/
/*    color:black;*/
/*    transform:scale(+1.5);*/
/*}*/

#highscore:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(40px);
}

.popup {
  top: 50%;
  padding: 5px 5px 5px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: rgb(41, 39, 39);
  background-size: 15px;
}

.popup:hover {
  color:green;
  transform:scale(+1.05);
}

.popup:active {
  background-color: #999;
  box-shadow: 0 5px #666;
}
